body {
    background: #f1f1f1;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
}

/* body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
} */


#header {
    background: #DCDCDC;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#header h2 {
    text-align: left;
    /* padding: 10px; */
}

#sitename {
    margin-left: auto;
}

#pagename{
    margin-left: auto;
    margin-right: auto;
    font-size: 30;
}

#logo {
    height: 100%;
    width: 16%;
    text-align: left;
}

#logo img{
    height: 100%;
    width: auto;
}

#navigation {
    background: #333;
    width: 100%;
    height: 50px;
}

#sidebar {
    background: #DCDCDC;
    float: left;
    width: 20%;
    /* height: 100%; */
}

#content {
    background: #DCDCDC;
    float: right;
    width: 79%;
    /* height: 100%;     */
}

#content p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

#clear {
    clear: both;
}

#footer {
    background: #333;
    width: 100%;
    /* height: 40px; */
}

#footer h2 {
    color: #f2f2f2;
}

#footer a {
    color: #f2f2f2;
    text-decoration: none;
}

#footer p {
    padding: 3px;
}

#container {
    background: #AAA;
    margin: auto auto;
    text-align: center;
    width: 80%;
    /* height: 800px; */
    padding: 10px;
}

#navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
#navigation a:hover {
    background-color: #ddd;
    color: black;
}

#list{
    text-align: left;
}

#table {
    margin: 10px;
}

#content picture img {
    width: 80%;
}

#content pre{
    text-align: left;
}

abbr 
{
    font-style: italic;
    color: chocolate;
}